  /* CSS */
  .button-52 {
    text-decoration: none;
    color: white;
    
  }
  
  .button-52-active {
      text-decoration: none;
      color: #0d6efd;;
      
    }
  
  .colorRead{
    color: red
  }
  
  
  